<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="style.css">
  <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.css' integrity='sha512-1hsteeq9xTM5CX6NsXiJu3Y/g+tj+IIwtZMtTisemEv3hx+S9ngaW4nryrNcPM4xGzINcKbwUJtojslX2KG+DQ==' crossorigin='anonymous'/>

  <title>To-do list</title>
</head>
<body>

  <div id="app">
    <img src="img/Logo.png" alt="Logo Boolean">
    <h1 style="margin-bottom: 20px; margin-top: 10px;">Toboolist</h1>
    <div class="container">

      <div class="add-task-container">
        <div class="input-container">
          <input v-model="newToDoItem.text" type="text" placeholder="Write Task">
          <input v-model="newToDoItem.category" style="width: 100px;" type="text" placeholder="Add Category">
          <button @click="addItem()">Add Task</button>
        </div>
      </div>

      <div class="task-container">
        <div class="input-container">

          <ul>
            <li
              v-for="(item, index) in toDoList"
              :class="item.done ? 'task-done' : '' ">

              <div class="task-item">

                <input 
                  @click.splice="taskDone(index)"
                  style="cursor: pointer;" 
                  type="checkbox" id="myCheck" >
  
                <span>
                  {{item.text}}
                </span>

                <span
                  class="category"
                  :class="item.category">
                  {{item.category}}
                </span>

              </div>

              <div class="trash-item">
                <i @click="deleteItem(index)" class="fa-solid fa-trash"></i>
              </div>

            </li>
          </ul>

        </div>
      </div>

    </div>

  </div>
  
  <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
  <script src="script.js"></script>
</body>
</html>